[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/shibui"]
	path = themes/shibui
	url = https://github.com/ntk148v/shibui.git
[submodule "themes/reimu"]
	path = themes/reimu
	url = https://github.com/D-Sketon/hugo-theme-reimu.git
